DEBUG=True
SECRET_KEY=django-insecure-change-me-for-demo-only

DB_NAME=fathurathi
DB_USER=fathurathi
DB_PASSWORD=fathurathi
DB_HOST=localhost
DB_PORT=5432

MAX_UPLOAD_SIZE_MB=30
ALLOW_SEED_RESET=True

# Production / Elastic Beanstalk
# DEBUG=False
# SECURE_SSL_REDIRECT=True
# ALLOW_SEED_RESET=False
# AWS_STORAGE_BUCKET_NAME=faturathi-production-assets
# AWS_S3_REGION_NAME=me-central-1
# AWS_REGION=me-central-1
# AWS_ACCESS_KEY_ID=replace-with-access-key-or-use-an-EC2-IAM-role
# AWS_SECRET_ACCESS_KEY=replace-with-secret-key-or-use-an-EC2-IAM-role
# AWS_SESSION_TOKEN=
# AWS_S3_ENDPOINT_URL=
# AWS_S3_ADDRESSING_STYLE=virtual
# AWS_QUERYSTRING_EXPIRE=3600
# AWS_CLOUDFRONT_DOMAIN=dxxxxxxxxxxxxx.cloudfront.net
