DEBUG=True
SECRET_KEY=django-insecure-change-me-for-demo-only
ALLOWED_HOSTS=*
CSRF_TRUST_ALL_ORIGINS=True
CSRF_TRUSTED_ORIGINS=

DB_NAME=fathurathi
DB_USER=fathurathi
DB_PASSWORD=fathurathi
DB_HOST=localhost
DB_PORT=5432

CORS_ALLOW_ALL=True
CORS_ALLOWED_ORIGINS=
MAX_UPLOAD_SIZE_MB=30
ALLOW_SEED_RESET=True

# Production / Elastic Beanstalk
# DEBUG=False
# ALLOWED_HOSTS=*
# CSRF_TRUST_ALL_ORIGINS=True
# CSRF_TRUSTED_ORIGINS=https://api.example.com,https://app.example.com
# CORS_ALLOW_ALL=True
# CORS_ALLOWED_ORIGINS=https://app.example.com
# SECURE_SSL_REDIRECT=True
# ALLOW_SEED_RESET=False
# AWS_STORAGE_BUCKET_NAME=faturathi-production-assets
# AWS_S3_REGION_NAME=me-central-1
# AWS_CLOUDFRONT_DOMAIN=dxxxxxxxxxxxxx.cloudfront.net
